<!doctype html>
<html lang="en">
  <head>
    <title>Catalan Structures</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link href="style.css" rel="stylesheet" />
    <link href="catalan.css" rel="stylesheet" />
    <link rel="icon" href="favicon.svg" type="image/svg+xml" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Libertinus+Math&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <h1>Catalan Structures</h1>
      <div class="subhead"><a href="index.html">Home</a></div>
    </header>
    <main>
      <section>
        <p>
          I learned about the Catalan Numbers in college, and they seem to come up again and again.
          So let's jump into them.
        </p>
      </section>
      <section>
        <h2 id="balanced-parentheses">
          <a class="anchor" href="#balanced-parentheses"></a>
          <span>Balanced Parentheses</span>
        </h2>
        <p>
          Let's start with what to me seems like the easiest example. I give you
          <math><mn>n</mn></math> opening and closing parentheses. You have to come up with all
          strings of these parentheses which are perfectly balanced. More precisely, each closing
          parenthesis has to have a corresponding opening parenthesis earlier in the sequence.
          Obviously, we have to start with an opening parenthesis, and end with a closing
          parenthesis. But what happens in the middle?
        </p>
        <p>
          As it turns out, this is our first Catalan structure. For one pair, we have the trivial
          string "()". For two, we can do either "()()" or "(())". For three, it starts to get more
          interesting. Here they are:
        </p>
        <div class="flex-block flex-center">
          <div class="catalan-parentheses">()()()</div>
          <div class="catalan-parentheses">()(())</div>
          <div class="catalan-parentheses">(())()</div>
          <div class="catalan-parentheses">((()))</div>
          <div class="catalan-parentheses">(()())</div>
        </div>
        <p>For four pairs of parentheses, we get the following set of 14:</p>
        <div id="c4-parenthesis-exhaustive" class="flex-block flex-center">
          <div v-for="s in generateCatalanParenthesisSet(4)" class="catalan-parentheses">
            {{s.join('')}}
          </div>
        </div>
        <p>
          In general, let's set up this little applet which cycles through the 16796 possible
          parentheses of length 20 (so 10 left- and 10 right-parentheses)
        </p>
        <div id="parentheses-10-counter" class="flex-block flex-center">
          <div class="catalan-parentheses">{{generateIterativeCatalanParentheses(10, i)}}</div>
        </div>
      </section>
      <section>
        <h2 id="catalan-numbers">
          <a class="anchor" href="#catalan-numbers"></a>
          <span>Catalan Numbers</span>
        </h2>
        <p>
          In general, each string of nested parentheses above can be expressed uniquely with the
          formula "(a<sub>1</sub>)a<sub>2</sub>", where both a<sub>1</sub> and a<sub>2</sub> are
          valid nested parentheses themselves, possibly of length 0. Knowing that the zero-length
          string of balanced parentheses is trivially "", we now have a method to generate all of
          the possible strings. We recognize that the formula already uses one pair of parentheses,
          so we need to loop over the possible lengths of a<sub>1</sub>, and then substitute in all
          of the valid strings for a<sub>2</sub>. Thus, if we have
          <math><mn>n</mn></math> parentheses, then a<sub>1</sub>
          can contain
          <math class="nowrap">
            <mi>i</mi><mo>=</mo><mn>0</mn> <mo>&hellip;</mo> <mo>(</mo><mi>n</mi><mo>-</mo><mn>1</mn
            ><mo>)</mo>
          </math>
          pairs of parentheses; and then a<sub>2</sub> will use
          <math><mi>j</mi><mo>=</mo><mi>n</mi><mo>-</mo><mi>i</mi></math> parentheses.
        </p>
        <p>
          This also leads us to a recursive expression for the Catalan number
          <math class="nowrap"
            ><msub><mi>C</mi> <mi>n</mi></msub></math
          >. We know that
          <math
            ><msub><mi>C</mi> <mn>0</mn></msub
            ><mo>=</mo><msub><mi>C</mi> <mn>1</mn></msub
            ><mo>=</mo><mn>1</mn></math
          >, and we have the recurrence
          <math class="nowrap">
            <mrow>
              <msub><mi>C</mi> <mi>n</mi></msub>
              <mo>=</mo>
              <munderover>
                <mo>∑</mo>
                <mrow><mi>i</mi><mo>=</mo><mn>0</mn></mrow>
                <mrow><mi>n</mi><mo>-</mo><mn>1</mn></mrow>
              </munderover>
              <msub
                ><mi>C</mi> <mrow><mi>i</mi></mrow></msub
              >
              <msub
                ><mi>C</mi> <mrow><mi>n</mi><mo>-</mo><mi>i</mi><mo>-</mo><mn>1</mn></mrow></msub
              >
            </mrow> </math
          >. This produces this table of Catalan numbers:
        </p>
        <div class="flex-block flex-center">
          <table id="catalan-numbers-table">
            <thead>
              <th scope="col">
                <math><mi>n</mi></math>
              </th>
              <th scope="col">
                <math
                  ><msub><mi>C</mi> <mi>n</mi></msub></math
                >
              </th>
            </thead>
            <tbody>
              <tr v-for="n in [0,1,2,3,4,5,6,7,8,9,10]">
                <td>{{n}}</td>
                <td style="text-align: right">{{catalanNumber(n)}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
      <section>
        <h2 id="circle-chords">
          <a class="anchor" href="#circle-chords"></a>
          <span>Circle Chords</span>
        </h2>
        <div class="flex-container">
          <div>
            <p>
              Suppose we have a circle with <math><mn>2</mn><mi>n</mi></math> points, spaced equally
              around that circle. We want to connect these points in pairs with chords, without them
              intersecting. How do we enumerate all of the possibilities? Yet again, the Catalan
              Numbers are relevant, and this becomes our second Catalan Structure.
            </p>
            <p>
              We can trivially translate from the parenthesis representation to another, equivalent
              representation that is more fitting to the circle chords case. We enumerate the
              notches on the circle from <math><mn>1</mn></math> to <math><mn>2</mn><mi>n</mi></math
              >. Then using our parenthesis representation, indexing the first position with 1,
              second with 2, etc, we pair up the indices of the opening and corresponding closing
              parenthesis. Then the parenthesis representation "()()(())()" becomes
              "12-34-58-67-9A". For clarity, I use the hexadecimal representation for values above
              9. I also display the chords using
              <a href="https://en.wikipedia.org/wiki/Chord_diagram_(information_visualization)"
                >chord diagram</a
              >
              arc segments that meet the cricle perpendicularly, for aesthetic purposes.
            </p>
          </div>
          <figure id="circle-10-connection-example" class="float-right small">
            <svg viewBox="0 0 300 300">
              <circle-chords
                tile="123458679A"
                :n="5"
                :radius="100"
                :centerx="150"
                :centery="150"
                show-arcs
                show-chords
                show-circle
                show-notches
              />
            </svg>
            <figcaption>
              Circle with 10 pairs of non-intersecting chords, corresponding to the integer
              representation '12-34-58-67-9A'
            </figcaption>
          </figure>
        </div>
        <p>
          Just as above, let's list all of the cases for
          <math
            ><msub><mi>C</mi><mn>3</mn></msub></math
          >:
        </p>
        <div id="c3-chords-exhaustive" class="flex-block flex-center">
          <div v-for="s in generateCatalanNumberSet(3)" class="catalan-hex">
            <figure>
              <svg viewBox="0 0 300 300">
                <circle-chords
                  :tile="s.join('')"
                  :n="3"
                  :radius="100"
                  :centerx="150"
                  :centery="150"
                  show-arcs
                  show-chords
                  show-circle
                  show-notches
                />
              </svg>
              <figcaption>{{s.join('')}}</figcaption>
            </figure>
          </div>
        </div>
        <p>
          And
          <math
            ><msub><mi>C</mi><mn>4</mn></msub></math
          >:
        </p>
        <div id="c4-chords-exhaustive" class="flex-block flex-center">
          <div v-for="s in generateCatalanNumberSet(4)" class="catalan-hex">
            <figure>
              <svg viewBox="0 0 300 300">
                <circle-chords
                  :tile="s.join('')"
                  :n="4"
                  :radius="100"
                  :centerx="150"
                  :centery="160"
                  show-arcs
                  show-chords
                  show-circle
                  show-notches
                />
              </svg>
              <figcaption>{{s.join('')}}</figcaption>
            </figure>
          </div>
        </div>
        <p>
          Let's also cycle through the chords of
          <math>
            <msub><mi>C</mi><mn>10</mn></msub> </math
          >:
        </p>
        <div id="c10-chords-timer" class="flex-block flex-center">
          <div class="catalan-hex">
            <figure style="min-width: 500px">
              <svg viewBox="0 0 300 300">
                <circle-chords
                  class="large"
                  :tile="generateIterativeCatalanNumerical(10,i)"
                  :n="10"
                  :radius="100"
                  :centerx="150"
                  :centery="160"
                  show-arcs
                  show-chords
                  show-circle
                  show-notches
                />
              </svg>
              <figcaption>
                {{generateIterativeCatalanNumerical(10,i)}}<br />{{generateIterativeCatalanParentheses(10,i)}}
              </figcaption>
            </figure>
          </div>
        </div>
      </section>
      <section>
        <h2 id="lattice-paths">
          <a class="anchor" href="#lattice-paths"></a>
          <span>Lattice Paths</span>
        </h2>
        <div class="flex-container">
          <p>
            Suppose we consider the set of lattice paths on an n x n grid, from one corner to the
            other, which do not cross the diagonal. We can stick to showing only the
            upper-triangular section of this grid, placing the diagonal horizontally at the bottom.
            Taking inspiration from the balanced parenthesis notation, whenever we have an opening
            parenthesis "(", we move upwards, otherwise we move downwards. Naturally, we would only
            cross the diagonal if an only if our string contains an unbalanced closing parenthesis.
          </p>
          <figure id="lattice-10-example" class="float-right small">
            <svg viewBox="0 0 300 200">
              <lattice-paths tile="()(())(())" :n="5" :size="50" :padding="25" />
            </svg>
            <figcaption>
              Lattice paths on an 10 x 10 square, not crossing the diagonal, corresponding to the
              parenthesis representation '()(())(())'
            </figcaption>
          </figure>
        </div>
        <p>
          Yet again, we'll cycle through the structures for
          <math>
            <msub><mi>C</mi><mn>10</mn></msub> </math
          >:
        </p>
        <figure id="c10-lattice-paths-timer">
          <svg viewBox="0 0 600 300">
            <lattice-paths
              :tile="generateIterativeCatalanParentheses(10, i)"
              :n="10"
              :size="50"
              :padding="25"
            />
          </svg>
          <figcaption>{{generateIterativeCatalanParentheses(10,i)}}</figcaption>
        </figure>
      </section>
      <section>
        <h2 id="partitions">
          <a class="anchor" href="#partitions"></a>
          <span>Non-intersecting partitions</span>
        </h2>
        <div class="flex-container">
          <p>
            This took me a while to figure out. Space <math><mi>n</mi></math> points around a
            circle, and see how many ways you can partition these points without the lines
            intersecting. One way to think about this is to go back to the
            <a href="#circle-chords">circle chords</a> structures (which space
            <math><mn>2</mn><mi>n</mi></math> points around the circle), and designate each pair of
            adjacent points as one of the <math><mi>n</mi></math> points for this case. Now,
            partition the points into sets based on if any two points don't have a chord in between
            them. It makes more sense to use straight-line chords.
          </p>
          <figure id="circle-10-connection-partition-example" class="float-right small">
            <svg viewBox="0 0 300 300">
              <circle-chords
                tile="1A23495867"
                :n="5"
                :radius="100"
                :centerx="150"
                :centery="150"
                show-midpoints
                show-partitions
                show-chords
                show-circle
                show-notches
                show-midpoint-labels
              />
            </svg>
            <figcaption>
              One non-intersecting partition of 5 points on a circle (highlighted in red),
              corresponding to the numerical notation '1A23495867'
              {{numericalToPartition("1A23495867")}}
            </figcaption>
          </figure>
        </div>
        <p>
          Just as above, let's list all of the cases for
          <math
            ><msub><mi>C</mi><mn>3</mn></msub></math
          >. For convenience, I don't color the subsets of size one, I let them just be.
        </p>
        <div id="c3-partition-exhaustive" class="flex-block flex-center">
          <div v-for="s in generateCatalanNumberSet(3)" class="catalan-hex">
            <figure>
              <svg viewBox="0 0 300 300">
                <circle-chords
                  :tile="s.join('')"
                  :n="3"
                  :radius="100"
                  :centerx="150"
                  :centery="150"
                  show-midpoints
                  show-partitions
                />
              </svg>
              <figcaption>{{s.join('')}}</figcaption>
            </figure>
          </div>
        </div>
        <p>
          And
          <math
            ><msub><mi>C</mi><mn>4</mn></msub></math
          >:
        </p>
        <div id="c4-partition-exhaustive" class="flex-block flex-center">
          <div v-for="s in generateCatalanNumberSet(4)" class="catalan-hex">
            <figure>
              <svg viewBox="0 0 300 300">
                <circle-chords
                  :tile="s.join('')"
                  :n="4"
                  :radius="100"
                  :centerx="150"
                  :centery="160"
                  show-midpoints
                  show-partitions
                  :rotate-degrees="23"
                />
              </svg>
              <figcaption>{{s.join('')}}</figcaption>
            </figure>
          </div>
        </div>
        <p>
          And finally, cycling through the
          <math>
            <msub><mi>C</mi><mn>10</mn></msub> </math
          >:
        </p>
        <figure id="c10-partitions-timer">
          <svg viewBox="0 0 600 300">
            <circle-chords
              :tile="generateIterativeCatalanNumerical(10, i)"
              :n="10"
              :radius="100"
              :centerx="300"
              :centery="150"
              show-midpoints
              show-partitions
              show-midpoint-labels
              :rotate-degrees="10"
            />
          </svg>
          <figcaption>
            {{generateIterativeCatalanParentheses(10,i)}}<br />{{numericalToPartition(generateIterativeCatalanNumerical(10,i))}}
          </figcaption>
        </figure>
      </section>
    </main>
    <footer>
      <p>No LLMs were consulted in the making of this site.</p>
      <p>© 2026 Jānis Lībeks</p>
    </footer>
    <script type="module">
      const { createApp, ref, defineComponent } = Vue
      import {
        catalanNumber,
        generateIterativeCatalanParentheses,
        generateCatalanParenthesisSet,
        generateCatalanNumberSet,
        generateIterativeCatalanNumerical,
        numericalToPartition,
      } from './js/catalan.js'
      import { circleChords, latticePaths } from './js/catalan-structures.js'

      createApp({
        methods: {
          catalanNumber,
        },
      }).mount('#catalan-numbers-table')

      createApp({
        methods: {
          generateCatalanParenthesisSet,
        },
      }).mount('#c4-parenthesis-exhaustive')

      createApp({
        data() {
          return {
            i: Math.floor(Math.random() * 16796),
          }
        },
        methods: {
          generateIterativeCatalanParentheses,
        },
        mounted() {
          setInterval(() => {
            this.i++
          }, 500)
        },
        components: {
          circleChords,
        },
      }).mount('#parentheses-10-counter')

      createApp({
        data() {
          return {
            i: Math.floor(Math.random() * 16796),
          }
        },
        methods: {
          generateIterativeCatalanParentheses,
        },
        components: {
          circleChords,
        },
      }).mount('#circle-10-connection-example')

      createApp({
        methods: {
          generateCatalanNumberSet,
        },
        components: {
          circleChords,
        },
      }).mount('#c3-chords-exhaustive')

      createApp({
        methods: {
          generateCatalanNumberSet,
        },
        components: {
          circleChords,
        },
      }).mount('#c4-chords-exhaustive')

      createApp({
        data() {
          return {
            i: Math.floor(Math.random() * 16796),
          }
        },
        methods: {
          generateIterativeCatalanNumerical,
          generateIterativeCatalanParentheses,
        },
        mounted() {
          setInterval(() => {
            this.i++
          }, 500)
        },
        components: {
          circleChords,
        },
      }).mount('#c10-chords-timer')

      createApp({
        components: {
          latticePaths,
        },
      }).mount('#lattice-10-example')

      createApp({
        data() {
          return {
            i: Math.floor(Math.random() * 16796),
          }
        },
        methods: {
          generateIterativeCatalanNumerical,
          generateIterativeCatalanParentheses,
        },
        mounted() {
          setInterval(() => {
            this.i++
          }, 500)
        },
        components: {
          latticePaths,
        },
      }).mount('#c10-lattice-paths-timer')

      createApp({
        data() {
          return {
            i: Math.floor(Math.random() * 16796),
          }
        },
        methods: {
          generateIterativeCatalanParentheses,
          numericalToPartition,
        },
        components: {
          circleChords,
        },
      }).mount('#circle-10-connection-partition-example')

      createApp({
        methods: {
          generateCatalanNumberSet,
        },
        components: {
          circleChords,
        },
      }).mount('#c3-partition-exhaustive')

      createApp({
        methods: {
          generateCatalanNumberSet,
        },
        components: {
          circleChords,
        },
      }).mount('#c4-partition-exhaustive')

      createApp({
        data() {
          return {
            i: Math.floor(Math.random() * 16796),
          }
        },
        methods: {
          generateIterativeCatalanNumerical,
          generateIterativeCatalanParentheses,
          numericalToPartition,
        },
        mounted() {
          setInterval(() => {
            this.i++
          }, 500)
        },
        components: {
          circleChords,
        },
      }).mount('#c10-partitions-timer')
    </script>
  </body>
</html>
