body {
	--body-width: min(80rem, 90vw);
	--gutter: 1.125rem;

	--diagram-width-wide: 60rem;
	--diagram-width-small: 20rem;

	--margin-left: calc((100vw - var(--body-width) - var(--gutter))/2);

	/* font choices inspired by www.redblobgames.com */
	--sans-serif: "Avenir Next", Candara, Ubuntu, "Fira Sans", system-ui, "Segoe UI", sans-serif;
	--serif: "Iowan Old Style", Cambria, Georgia, serif;

	font-family: var(--sans-serif);
	font-size: 1.1em;
	margin: 0;
	
}

main {
	margin-top: 5em;
	margin-left: var(--margin-left);
	/*margin-right: 30em;*/
	/*width: calc(var(--body-width) + var(--gutter) + var(--diagram-width-small));*/
	width: var(--body-width);
	max-width: inherit;
}

header {
	display: block;
	text-align: center;
	background-color: hsl(0, 0%, 80%);
	height: 6em;
	font-size: 2.5em;
	padding-top: 0.5em;
	border-bottom: 50px solid hsl(0, 0%, 90%);
}

/*section > * {
	float:left;
	clear: left;
	width: var(--body-width);
}*/

h2 {
	font-size: 2em;
}

figure {
	box-sizing: border-box;
}

footer {
	display: block;
	text-align: center;
	height: 3em;
	background-color: hsl(0, 0%, 80%);
	border-top: 50px solid hsl(0, 0%, 90%);
	padding-top: 2em;
	margin-top: 5em;
}

p {
	font-family: var(--serif);
	padding-left: 1em;
	font-size: 1.2em;
}

figure {
	border: 1px solid black;
}