.coord-labels {
  .numeric {
    font-weight: 600;
  }
  .coord:not(.visible) {
    display: none;
  }
}

.highlight text {
  .x-coord,
  .y-coord,
  .r-coord,
  .z-coord,
  .b-coord {
    font-weight: 600;
  }
}

svg {
  polygon {
    stroke: hsl(0, 0%, 70%);
    stroke-width: 1;
  }

  .stroke {
    fill: none;
    stroke-width: 10px;
    stroke: black;
  }

  text {
    font-size: 1.1rem;
    pointer-events: none;
    fill: black;
    font-family: var(--sans-serif);

    .x-coord {
      fill: hsl(0, 80%, 40%);
    }

    .y-coord {
      fill: hsl(240, 80%, 40%);
    }

    .r-coord {
      fill: hsl(280, 80%, 40%);
    }

    .z-coord {
      fill: hsl(120, 80%, 30%);
    }

    .b-coord {
      fill: hsl(40, 80%, 30%);
    }

    &.annotation {
      font-size: 0.8em;
    }
  }

  .sameX text .x-coord,
  .sameY text .y-coord,
  .sameZ text .z-coord,
  .sameB text .b-coord {
    font-weight: 600;
  }

  .sameX polygon {
    fill: hsl(0, 50%, 70%);
  }

  .sameY polygon {
    fill: hsl(240, 50%, 70%);
  }

  .sameZ polygon {
    fill: hsl(120, 50%, 70%);
  }

  .sameB polygon {
    fill: hsl(280, 50%, 70%);
  }

  .grid.triangles .uptriangle,
  .grid.square .square.odd {
    fill: hsl(147, 0%, 80%);
  }

  .grid.triangles .downtriangle,
  .grid.square .square.even {
    fill: hsl(147, 0%, 85%);
  }

  .grid .square .tile {
    transform-origin: 50px 50px;
  }

  /*.grid .triangle .tile,
  .grid .triangle {
    transform-origin: 0px 28.87px;
  }*/

  /* .flippable means that the contents can be rotated 180 degrees. It has a separate g element to not be overriden by the translation of the .triangle element */
  .downtriangle .flippable {
    transform: rotate(180deg);
    transform-origin: 0px 43.3px;
  }

  .grid .square .tile,
  .grid .triangle .tile {
    fill: none;

    &.rot90deg {
      transform: rotate(90deg);
    }

    &.rot120deg {
      transform: rotate(120deg);
      transform-origin: 0px 28.87px;
    }

    &.rot240deg {
      transform: rotate(240deg);
      transform-origin: 0px 28.87px;
    }
  }

  .highlight polygon {
    fill: hsl(40, 100%, 80%);
  }
}

.coordinate-buttons button {
  padding: 15px 30px;
  border: none;
  margin: 0 10px;
  text-align: center;
  font-size: 1.2em;
  background-color: hsl(0, 0, 70%);

  &.active {
    background-color: yellow;
  }
}
