<!doctype html>
<html lang="en">
  <head>
    <title>Catalan Structures</title>
    <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->
    <script src="/js/vue.js"></script>
    <link href="/style.css" rel="stylesheet" />
    <link href="catalan.css" rel="stylesheet" />
    <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml" />
    <link rel="icon" href="/favicon.ico" sizes="48x48" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Libertinus+Math&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <h1>Catalan Structures</h1>
      <div class="subhead"><a href="/index.html">Home</a></div>
    </header>
    <main>
      <section>
        <p>
          I learned about the Catalan Numbers in college, and they seem to come up again and again.
          So let's jump into them.
        </p>
      </section>
      <section>
        <h2 id="balanced-parentheses">
          <a class="anchor" href="#balanced-parentheses"></a>
          <span>Balanced Parentheses</span>
        </h2>
        <p>
          Let's start with what to me seems like the easiest example. I give you
          <math><mn>n</mn></math> opening and closing parentheses. You have to come up with all
          strings of these parentheses which are perfectly balanced. More precisely, each closing
          parenthesis has to have a corresponding opening parenthesis earlier in the sequence.
          Obviously, we have to start with an opening parenthesis, and end with a closing
          parenthesis. But what happens in the middle?
        </p>
        <p>
          As it turns out, this is our first Catalan structure. For one pair, we have the trivial
          string <code>()</code>. For two, we can do either <code>()()</code> or <code>(())</code>.
          For three, it starts to get more interesting. Here they are:
        </p>
        <div class="flex-block flex-center">
          <div class="catalan-parentheses">()()()</div>
          <div class="catalan-parentheses">()(())</div>
          <div class="catalan-parentheses">(())()</div>
          <div class="catalan-parentheses">((()))</div>
          <div class="catalan-parentheses">(()())</div>
        </div>
        <p>For four pairs of parentheses, we get the following set of 14:</p>
        <div id="c4-parenthesis-exhaustive" class="flex-block flex-center">
          <div v-for="s in generateCatalanParenthesisSet(4)" class="catalan-parentheses">
            {{s.join('')}}
          </div>
        </div>
        <p>
          In general, let's set up this little applet which cycles through the 16796 possible
          parentheses of length 20 (so 10 left- and 10 right-parentheses)
        </p>
        <div id="parentheses-10-counter" class="flex-block flex-center">
          <div class="catalan-parentheses">{{generateIterativeCatalanParentheses(10, i)}}</div>
        </div>
      </section>
      <section>
        <h2 id="catalan-numbers">
          <a class="anchor" href="#catalan-numbers"></a>
          <span>Catalan Numbers</span>
        </h2>
        <p>
          In general, each string of nested parentheses above can be expressed uniquely with the
          formula "(x)y", where both x and y are valid nested parentheses themselves, possibly of
          length 0. Knowing that the zero-length string of balanced parentheses is trivially the
          empty string "", we now have a method to generate all of the possible strings. We
          recognize that the formula already uses one pair of parentheses, so we need to loop over
          the possible lengths of x, and then substitute in all of the valid strings for y. Thus, if
          we have
          <math><mn>n</mn></math> parentheses, then x can contain
          <math class="nowrap">
            <mi>i</mi><mo>=</mo><mn>0</mn> <mo>&hellip;</mo> <mo>(</mo><mi>n</mi><mo>-</mo><mn>1</mn
            ><mo>)</mo>
          </math>
          pairs of parentheses; and then y will use
          <math><mi>j</mi><mo>=</mo><mi>n</mi><mo>-</mo><mi>i</mi></math> parentheses.
        </p>
        <p>
          This also leads us to a recursive expression for the Catalan number
          <math class="nowrap"
            ><msub><mi>C</mi> <mi>n</mi></msub></math
          >. We know that
          <math
            ><msub><mi>C</mi> <mn>0</mn></msub
            ><mo>=</mo><msub><mi>C</mi> <mn>1</mn></msub
            ><mo>=</mo><mn>1</mn></math
          >, and we have the recurrence
          <math class="nowrap">
            <mrow>
              <msub><mi>C</mi> <mi>n</mi></msub>
              <mo>=</mo>
              <munderover>
                <mo>∑</mo>
                <mrow><mi>i</mi><mo>=</mo><mn>0</mn></mrow>
                <mrow><mi>n</mi><mo>-</mo><mn>1</mn></mrow>
              </munderover>
              <msub
                ><mi>C</mi> <mrow><mi>i</mi></mrow></msub
              >
              <msub
                ><mi>C</mi> <mrow><mi>n</mi><mo>-</mo><mi>i</mi><mo>-</mo><mn>1</mn></mrow></msub
              >
            </mrow> </math
          >. This produces this table of Catalan numbers:
        </p>
        <div class="flex-block flex-center">
          <table id="catalan-numbers-table">
            <thead>
              <th scope="col">
                <math><mi>n</mi></math>
              </th>
              <th scope="col">
                <math
                  ><msub><mi>C</mi> <mi>n</mi></msub></math
                >
              </th>
            </thead>
            <tbody>
              <tr v-for="n in [0,1,2,3,4,5,6,7,8,9,10]">
                <td>{{n}}</td>
                <td style="text-align: right">{{catalanNumber(n)}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
      <section>
        <h2 id="circle-chords">
          <a class="anchor" href="#circle-chords"></a>
          <span>Circle Chords</span>
        </h2>
        <div class="text-figure">
          <div>
            <p>
              Suppose we have a circle with <math><mn>2</mn><mi>n</mi></math> points (or notches),
              spaced equally around that circle. We want to connect these points in pairs with
              chords, without them intersecting. How do we enumerate all of the possibilities? Yet
              again, the Catalan Numbers are relevant, and this becomes our second Catalan
              Structure.
            </p>
            <p>
              We can trivially translate from the parenthesis representation to another, equivalent
              representation that is more fitting to the circle chords case. We enumerate the
              notches on the circle from <math><mn>1</mn></math> to <math><mn>2</mn><mi>n</mi></math
              >. Then using our parenthesis representation, indexing the first position with 1,
              second with 2, etc, we pair up the indices of the opening and corresponding closing
              parenthesis. Then the parenthesis representation "()()(())()" becomes
              "12-34-58-67-9A". For clarity, I use the hexadecimal representation for values above
              9. I also display the chords using
              <a href="https://en.wikipedia.org/wiki/Chord_diagram_(information_visualization)"
                >chord diagram</a
              >
              arc segments that meet the circle perpendicularly, for aesthetic purposes.
            </p>
          </div>
          <figure id="circle-10-connection-example" class="float-right small">
            <svg-box v-for="bbox of [new BBox(0,0,300,300)]" :bbox="bbox">
              <circle-chords
                tile="123458679A"
                :n="5"
                :bbox="bbox"
                show-arcs
                show-chords
                show-circle
                show-notches
              />
            </svg-box>
            <figcaption>
              Circle with 10 pairs of non-intersecting chords, corresponding to the integer
              representation '12-34-58-67-9A'
            </figcaption>
          </figure>
        </div>
        <p>
          Just as above, let's list all of the cases for
          <math
            ><msub><mi>C</mi><mn>3</mn></msub></math
          >:
        </p>
        <div id="c3-chords-exhaustive" class="flex-block flex-center">
          <div v-for="s in generateCatalanNumberSet(3)" class="catalan-hex">
            <figure>
              <svg-box v-for="bbox of [new BBox(0,0,300,300)]" :bbox="bbox">
                <circle-chords
                  :tile="s.join('')"
                  :n="3"
                  :bbox="bbox"
                  show-arcs
                  show-chords
                  show-circle
                  show-notches
                />
              </svg-box>
              <figcaption>{{s.join('')}}</figcaption>
            </figure>
          </div>
        </div>
        <p>
          And
          <math
            ><msub><mi>C</mi><mn>4</mn></msub></math
          >:
        </p>
        <div id="c4-chords-exhaustive" class="flex-block flex-center">
          <div v-for="s in generateCatalanNumberSet(4)" class="catalan-hex">
            <figure>
              <svg-box v-for="bbox of [new BBox(0,0,300,300)]" :bbox="bbox">
                <circle-chords
                  :tile="s.join('')"
                  :n="4"
                  :bbox="bbox"
                  show-arcs
                  show-chords
                  show-circle
                  show-notches
                />
              </svg-box>
              <figcaption>{{s.join('')}}</figcaption>
            </figure>
          </div>
        </div>
        <p>
          Let's also cycle through the chords of
          <math>
            <msub><mi>C</mi><mn>10</mn></msub> </math
          >:
        </p>
        <div id="c10-chords-timer" class="flex-block flex-center">
          <div class="catalan-hex">
            <figure style="min-width: 500px">
              <svg-box v-for="bbox of [new BBox(0,0,300,300)]" :bbox="bbox">
                <circle-chords
                  class="large"
                  :tile="generateIterativeCatalanNumerical(10,i)"
                  :n="10"
                  :bbox="bbox"
                  show-arcs
                  show-chords
                  show-circle
                  show-notches
                />
              </svg-box>
              <figcaption>
                {{generateIterativeCatalanNumerical(10,i)}}<br />{{generateIterativeCatalanParentheses(10,i)}}
              </figcaption>
            </figure>
          </div>
        </div>
        <section>
          <h3 id="chord-rotations">
            <a class="anchor" href="#chord-rotations"></a>
            <span>Chord Rotations</span>
          </h3>
          <p>
            A curious side effect of the Circle Chord representation is that these circles can be
            rotated, producing a mapping between elements. Formally, the rotation operator ↷ is
            defined by remapping the notches incrementally by one, with wraparound. So a chord
            between notches 1 and 2 would now map between notches 2 and 3, after the application of
            the ↷ operator, while the last notch would be mapped onto notch 1, etc.
          </p>
          <p>
            Since rotations eventually end up where they began, after completing a full 360°, and
            often even sooner, we can partition the set of all Circle Chord representations of a
            certain Catalan number
            <math
              ><msub><mi>C</mi> <mi>n</mi></msub></math
            >
            into equivalence classes under repeated application of the rotation operator, and we can
            use one element from each partition as a canonical representative. The cardinality of
            this subset is of importance, as it has to divide <math><mi>n</mi></math
            >.
          </p>
          <p>
            To make the computation easier, notice that the rotation operator when applied to the
            parenthesis notation of a Catalan structure follows the rule <code>x(y) ↷ (x)y</code>.
          </p>
          <div id="chord-partitions">
            <div v-for="n in [3,4,5,6,7,8]">
              <collapsible-button>
                <template #label>
                  Rotational partitions of
                  <math>
                    <msub><mi>C</mi> <mi>{{n}}</mi></msub>
                  </math>
                </template>
                <template #default>
                  <div class="flex-block flex-center">
                    <div v-for="(s,v) in getParenthesisPartitions(n)" class="catalan-hex">
                      <figure>
                        <svg-box v-for="bbox of [new BBox(0,0,300,300)]" :bbox="bbox">
                          <circle-chords
                            :tile="v"
                            :n="n"
                            :bbox="bbox"
                            show-arcs
                            show-chords
                            show-circle
                            show-notches
                          />
                        </svg-box>
                        <figcaption>cardinality {{s.length}}</figcaption>
                      </figure>
                    </div>
                  </div>
                </template>
              </collapsible-button>
            </div>
          </div>
        </section>
      </section>
      <section>
        <h2 id="lattice-paths">
          <a class="anchor" href="#lattice-paths"></a>
          <span>Lattice Paths</span>
        </h2>
        <section>
          <h3 id="random-walk-1d">
            <a class="anchor" href="#random-walk-1d"></a>
            <span>Random Walk in 1D</span>
          </h3>
          <p>
            Suppose we want to take a random walk on the whole number line with steps of length one,
            starting and ending at 0, but never dipping below 0. The number of such walks of length
            <math><mn>2</mn><mi>n</mi></math> follows directly from the parenthesis example above.
            Each open parenthesis "(" is a step in the positive direction, and each closing
            parenthesis ")" is a move in the negative direction. To dip below 0, we'd have to hit an
            unbalanced closing parenthesis, which is forbidden!
          </p>
          <p>
            An alternative formulation is that of a Ballot Sequence. There is an election between
            two candidates A and B, which receives <math><mn>2</mn><mi>n</mi></math> votes (no
            abstentions) that ends up in the tie. What is the number of voting sequences, such that
            candidate A would never trail behild candidate B during any moment of reading the
            sequence? Again, an open parenthesis stands in for a vote for candidate A, a closed
            parenthesis stands in for candidate B.
          </p>
          <div class="text-figure">
            <p>
              Now let's take the random walk idea, but visualize it in two dimensions, with the
              whole number line placed vertically, and the time increment displayed horizontally. A
              step in the positive direction corresponds with movement in the direction (1,1), a
              step in the negative direction corresponds with movement in the direciton (1, -1). We
              end up with a lattice path on an n x n grid, flipped on its diagonal, spanning from
              one corner to the opposite one, such that no path dips below this diagonal.
            </p>
            <figure id="lattice-10-example" class="float-right small">
              <svg viewBox="0 0 300 200">
                <lattice-paths tile="()(())(())" :n="5" :size="50" :padding="25" />
              </svg>
              <figcaption>
                Lattice paths on an 5 x 5 square, not crossing the diagonal, corresponding to the
                parenthesis representation '()(())(())'
              </figcaption>
            </figure>
          </div>
          <p>
            Yet again, we'll cycle through the structures for
            <math>
              <msub><mi>C</mi><mn>10</mn></msub> </math
            >:
          </p>
          <figure id="c10-lattice-paths-timer">
            <svg viewBox="0 0 600 300">
              <lattice-paths
                :tile="generateIterativeCatalanParentheses(10, i)"
                :n="10"
                :size="50"
                :padding="25"
              />
            </svg>
            <figcaption>{{generateIterativeCatalanParentheses(10,i)}}</figcaption>
          </figure>
        </section>
        <section>
          <h3 id="random-walk-2d">
            <a class="anchor" href="#random-walk-2d"></a>
            <span>Random Walks in 2D</span>
          </h3>
          <p>
            This idea can cleverly be extended to random walks on the 2D lattice. Let's say we can
            move one step in any of the four cardinal directions, with these constraints:
          </p>
          <ul>
            <li>
              The walk has to be of length <math><mi>n</mi><mo>-</mo><mn>1</mn></math>
            </li>
            <li>
              The walk has to end on the X-axis (the end position must be
              <math><mi>y</mi><mo>=</mo><mn>0</mn></math
              >)
            </li>
            <li>
              The walk can never dip below the X-axis (<math><mi>y</mi><mo>≥</mo><mn>0</mn></math
              >)
            </li>
          </ul>
          <p>
            For example, the five such walks of
            <math
              ><msub><mi>C</mi><mn>3</mn></msub></math
            >
            are as follows:
          </p>
          <div class="flex-block flex-center">
            <div class="catalan-parentheses">←←</div>
            <div class="catalan-parentheses">←→</div>
            <div class="catalan-parentheses">→←</div>
            <div class="catalan-parentheses">→→</div>
            <div class="catalan-parentheses">↑↓</div>
          </div>
          <p>
            This is somewhat surprising, at first! How do we translate from the 1D random walk to
            2D? And why does the length of the walk go from <math><mn>2</mn><mi>n</mi></math> to
            <math><mi>n</mi><mo>-</mo><mn>1</mn></math
            >?
          </p>
          <p>The conversion from the parenthesis notation is as follows:</p>
          <ul>
            <li>
              Remove the first and last parentheses. The sequence is guaranteed to start with an
              opening parenthesis, and end with a closing parenthesis, so we're not "losing" any
              information.
            </li>
            <li>Group the remaining characters in pairs</li>
            <li>
              Convert from the character tuples to cardinal directions:
              <ul>
                <li>
                  <div class="catalan-parentheses inline">((</div>
                  :
                  <div class="catalan-parentheses inline">↑</div>
                </li>
                <li>
                  <div class="catalan-parentheses inline">))</div>
                  :
                  <div class="catalan-parentheses inline">↓</div>
                </li>
                <li>
                  <div class="catalan-parentheses inline">()</div>
                  :
                  <div class="catalan-parentheses inline">←</div>
                </li>
                <li>
                  <div class="catalan-parentheses inline">)(</div>
                  :
                  <div class="catalan-parentheses inline">→</div>
                </li>
              </ul>
            </li>
          </ul>
          <p>
            Here is a loop of the
            <math
              ><msub><mi>C</mi><mn>10</mn></msub
              ><mo>=</mo><mn>16796</mn></math
            >
            possible 2D walks of length 9:
          </p>
          <div id="two-d-walk-10-counter" class="flex-block flex-center">
            <div class="catalan-parentheses">
              {{get2DWalkFromParentheses(generateIterativeCatalanParentheses(10, i))}}
            </div>
          </div>
        </section>
      </section>
      <section>
        <h2 id="rooted-trees">
          <a class="anchor" href="#rooted-trees"></a>
          <span>Plane Trees</span>
        </h2>
        <div class="text-figure">
          <p>
            A
            <a href="https://en.wikipedia.org/wiki/Tree_(graph_theory)#Ordered_tree">Plane Tree</a>
            (a.k.a. a Ordered Tree) is a tree with a certain node denoted as the root, and with the
            children being ordered (i.e. the order in which children are processed matters).
            Unsurprisingly,
            <math>
              <msub><mi>C</mi><mn>n</mn></msub>
            </math>
            denotes the number of such plane trees with
            <math><mi>n</mi><mo>+</mo><mn>1</mn></math> nodes. We start yet again with the
            parentheses notation, and a root node. Every time we encounter an opening parenthesis
            <code>(</code>, we append a new child to the current node, and set that child as the
            current node. Every time we encounter a closing parenthesis <code>)</code>, we set the
            current node to its parent. Since the parenthesis representation is balanced, we will
            eventually end up at the root, and we'll never need to look at the root's parent (which
            by definition doesn't exist).
          </p>
          <figure id="rooted-tree-10-example" class="float-right small">
            <svg-box v-for="bbox of [new BBox(0,0,300,300)]" :bbox="bbox">
              <rooted-tree tile="((()((()))()()))(())" :bbox="bbox" show-labels></rooted-tree>
            </svg-box>
            <figcaption>
              The Plane Tree with 11 nodes corresponding to the parenthesis notation
              ((()((()))()()))(())
            </figcaption>
          </figure>
        </div>
        <p>
          As is tradition, let's list all of the cases for
          <math>
            <msub><mi>C</mi><mn>3</mn></msub> </math
          >.
        </p>
        <div id="c3-plane-trees" class="flex-block flex-center">
          <div v-for="s in generateCatalanParenthesisSet(3)" class="catalan-tile catalan-tree">
            <figure>
              <svg-box v-for="bbox of [new BBox(0,0,250,250)]" :bbox="bbox">
                <rooted-tree :tile="s.join('')" :bbox="bbox" show-labels></rooted-tree>
              </svg-box>
              <figcaption>{{s.join('')}}</figcaption>
            </figure>
          </div>
        </div>
        <p>
          And we can cycle through the plane trees of
          <math>
            <msub><mi>C</mi><mn>10</mn></msub> </math
          >, each with 11 nodes:
        </p>
        <div class="flex-block flex-center">
          <div class="catalan-tile catalan-tree catalan-large">
            <figure id="c10-plane-tree-timer" style="min-width: 500px">
              <svg-box v-for="bbox of [new BBox(0,0,300,300)]" :bbox="bbox">
                <rooted-tree
                  :tile="generateIterativeCatalanParentheses(10, i)"
                  :bbox="bbox"
                  show-labels
                ></rooted-tree>
              </svg-box>
              <figcaption>{{generateIterativeCatalanParentheses(10,i)}}</figcaption>
            </figure>
          </div>
        </div>
      </section>
      <section>
        <h2 id="binary-trees">
          <a class="anchor" href="#binary-trees"></a>
          <span>Binary Trees</span>
        </h2>
        <div class="text-figure">
          <p>
            A
            <a href="https://en.wikipedia.org/wiki/Binary_tree">Binary Tree</a>
            is just like a Plane Tree, except that each node can have only a left and a right child.
            In fact, a node can have only a right child, without a left. This structure is of course
            very familiar to most Computer Scientists. At this point you shouldn't be surprised that
            <math>
              <msub><mi>C</mi><mn>n</mn></msub>
            </math>
            counts the number of binary trees with
            <math><mi>n</mi></math> nodes. Just like before, we start with parenthesis notation,
            attaching a new node when a left parenthesis <code>(</code> is seen, attaching it to the
            current child of the current node (or setting it as the root node if there is none), and
            setting the current node to point to this node. We also advance the node counter of the
            parent node. The logic is a bit more complicated for the closing parenthesis
            <code>)</code>. Upon seeing this, we "advance" the node counter of the current node,
            moving up the tree if the current node's counter reaches 2, and propagating until the
            current node is not exhausted. This explanation is somewhat convoluted, I admit. Another
            way to think about this is in terms of the Plane Graph; we do a 1:1 conversion from the
            Plane Tree to the Binary Tree, by taking each node (we ignore the root node of the Plane
            Tree), we set the first child of the Plane node as the left child of the Binary Node,
            and the next younger sibling of the current Plane node as the right child of the Binary
            Node. Critically, this is the direct sibling, not the cousin, or something odd like
            that. In a way, the leftmost line of descendants in the Plane Tree remains the leftmost
            path in the Binary Tree, whereas the root's children in the Plane Tree becomes the
            rightmost path in the Binary Tree.
          </p>
          <figure id="binary-tree-10-example" class="float-right small">
            <svg-box v-for="bbox of [new BBox(0,0,300,300)]" :bbox="bbox">
              <!-- <binary-tree tile="(()())()" :bbox="bbox" show-labels></binary-tree> -->
              <binary-tree tile="((()((()))()()))(())" :bbox="bbox" show-labels></binary-tree>
            </svg-box>
            <figcaption>
              The Binary Tree with 10 nodes corresponding to the parenthesis notation
              ((()((()))()()))(())
            </figcaption>
          </figure>
        </div>
        <p>
          Let's see what corresponds to
          <math>
            <msub><mi>C</mi><mn>3</mn></msub> </math
          >.
        </p>
        <div id="c3-binary-trees" class="flex-block flex-center">
          <div v-for="s in generateCatalanParenthesisSet(3)" class="catalan-tile catalan-tree">
            <figure>
              <svg-box v-for="bbox of [new BBox(0,0,250,250)]" :bbox="bbox">
                <binary-tree :tile="s.join('')" :bbox="bbox" show-labels></binary-tree>
              </svg-box>
              <figcaption>{{s.join('')}}</figcaption>
            </figure>
          </div>
        </div>
        <p>
          And now,
          <math>
            <msub><mi>C</mi><mn>10</mn></msub>
          </math>
          on a timer:
        </p>
        <div class="flex-block flex-center">
          <div class="catalan-tile catalan-tree catalan-large">
            <figure id="c10-binary-tree-timer" style="min-width: 500px">
              <svg-box v-for="bbox of [new BBox(0,0,300,300)]" :bbox="bbox">
                <binary-tree
                  :tile="generateIterativeCatalanParentheses(10, i)"
                  :bbox="bbox"
                  show-labels
                ></binary-tree>
              </svg-box>
              <figcaption>{{generateIterativeCatalanParentheses(10,i)}}</figcaption>
            </figure>
          </div>
        </div>
      </section>
      <section>
        <h2 id="polygon-triangulation">
          <a class="anchor" href="#polygon-triangulation"></a>
          <span>Polygon Triangulation</span>
        </h2>
        <div class="text-figure">
          <p>
            We start with a regular polygon with
            <math><mi>n</mi><mo>+</mo><mn>2</mn></math> vertices. We can partition it into triangles
            whose vertices are the vertices of the polygon. The number of ways to do this is, of
            course,
            <math>
              <msub><mi>C</mi><mi>n</mi></msub> </math
            >.
          </p>
          <figure id="polygon-triangulation-10-example" class="float-right small">
            <svg-box v-for="bbox of [new BBox(0,0,300,300)]" :bbox="bbox">
              <!-- <polygon-triangulation
                tile="()()(())"
                :bbox="bbox"
                show-labels
              ></polygon-triangulation> -->
              <polygon-triangulation
                tile="((()((()))()()))(())"
                :bbox="bbox"
                show-labels
                show-vertices
                show-dual-graph
              ></polygon-triangulation>
            </svg-box>
            <figcaption>
              A dodecagon (12-gon) triangulation corresponding to the parenthesis notation
              ((()((()))()()))(())
            </figcaption>
          </figure>
        </div>
        <p>
          Traditionally,
          <math>
            <msub><mi>C</mi><mn>10</mn></msub>
          </math>
          on a timer:
        </p>
        <div class="flex-block flex-center">
          <div class="catalan-tile catalan-tree catalan-large">
            <figure id="c10-polygon-triangulation-timer" style="min-width: 500px">
              <svg-box v-for="bbox of [new BBox(0,0,300,300)]" :bbox="bbox">
                <polygon-triangulation
                  :tile="generateIterativeCatalanParentheses(10, i)"
                  :bbox="bbox"
                  show-dual-graph
                ></polygon-triangulation>
              </svg-box>
              <figcaption>{{generateIterativeCatalanParentheses(10,i)}}</figcaption>
            </figure>
          </div>
        </div>
      </section>
      <section>
        <h2 id="partitions">
          <a class="anchor" href="#partitions"></a>
          <span>Non-intersecting partitions</span>
        </h2>
        <div class="text-figure">
          <p>
            This took me a while to figure out. Space <math><mi>n</mi></math> points around a
            circle, and see how many ways you can partition these points without the lines
            intersecting. One way to think about this is to go back to the
            <a href="#circle-chords">circle chords</a> structures (which space
            <math><mn>2</mn><mi>n</mi></math> points around the circle), and designate each pair of
            adjacent points as one of the <math><mi>n</mi></math> points for this case. Now,
            partition the points into sets based on if any two points don't have a chord in between
            them. It makes more sense to use straight-line chords.
          </p>
          <figure id="circle-10-connection-partition-example" class="float-right small">
            <svg-box v-for="bbox of [new BBox(0,0,300,300)]" :bbox="bbox">
              <circle-chords
                tile="1A23495867"
                :n="5"
                :bbox="bbox"
                show-midpoints
                show-partitions
                show-chords
                show-circle
                show-notches
                show-midpoint-labels
              />
            </svg-box>
            <figcaption>
              One non-intersecting partition of 5 points on a circle (highlighted in red),
              corresponding to the numerical notation '1A23495867'
              {{numericalToPartition("1A23495867")}}
            </figcaption>
          </figure>
        </div>
        <p>
          Just as above, let's list all of the cases for
          <math
            ><msub><mi>C</mi><mn>3</mn></msub></math
          >. For convenience, I don't color the subsets of size one, I let them just be.
        </p>
        <div id="c3-partition-exhaustive" class="flex-block flex-center">
          <div v-for="s in generateCatalanNumberSet(3)" class="catalan-hex">
            <figure>
              <svg-box v-for="bbox of [new BBox(0,0,300,300)]" :bbox="bbox">
                <circle-chords
                  :tile="s.join('')"
                  :n="3"
                  :bbox="bbox"
                  show-midpoints
                  show-partitions
                />
              </svg-box>
              <figcaption>{{s.join('')}}</figcaption>
            </figure>
          </div>
        </div>
        <p>
          And
          <math
            ><msub><mi>C</mi><mn>4</mn></msub></math
          >:
        </p>
        <div id="c4-partition-exhaustive" class="flex-block flex-center">
          <div v-for="s in generateCatalanNumberSet(4)" class="catalan-hex">
            <figure>
              <svg-box v-for="bbox of [new BBox(0,0,300,300)]" :bbox="bbox">
                <circle-chords
                  :tile="s.join('')"
                  :n="4"
                  :bbox="bbox"
                  show-midpoints
                  show-partitions
                  :rotate-degrees="23"
                />
              </svg-box>
              <figcaption>{{s.join('')}}</figcaption>
            </figure>
          </div>
        </div>
        <p>
          And finally, cycling through the
          <math>
            <msub><mi>C</mi><mn>10</mn></msub> </math
          >:
        </p>
        <figure id="c10-partitions-timer">
          <svg-box v-for="bbox of [new BBox(0,0,600,300)]" :bbox="bbox">
            <circle-chords
              :tile="generateIterativeCatalanNumerical(10, i)"
              :n="10"
              :bbox="bbox"
              show-midpoints
              show-partitions
              show-midpoint-labels
              :rotate-degrees="10"
            />
          </svg-box>
          <figcaption>
            {{generateIterativeCatalanParentheses(10,i)}}<br />{{numericalToPartition(generateIterativeCatalanNumerical(10,i))}}
          </figcaption>
        </figure>
      </section>
      <section>
        <h2 id="gallery">
          <a class="anchor" href="#gallery"></a>
          <span>Gallery</span>
        </h2>
        <p>
          Let's put all of these representations of the same structure in one place. The timer
          advances the Catalan structure every second, and all tiles show one of the interpretations
          of the same bijective Catalan structure.
        </p>
        <div id="catalan-gallery-timer" class="flex-block flex-center">
          <figure>
            <div class="catalan-tile catalan-parentheses">{{catalan.parenthesis}}</div>
            <figcaption>Balanced {{n}} pairs of parentheses</figcaption>
          </figure>
          <figure>
            <div class="catalan-tile catalan-parentheses">{{catalan.oneDWalk}}</div>
            <figcaption>
              Random walk on nonnegative integers of length {{2*n}}, ending at 0
            </figcaption>
          </figure>
          <figure>
            <div class="catalan-parentheses">{{catalan.twoDWalk}}</div>
            <figcaption>
              Random walk in 2D of length {{n-1}}, ending on the X axis, never dipping below the X
              axis
            </figcaption>
          </figure>
          <figure>
            <svg viewBox="0 0 300 200">
              <lattice-paths :tile="catalan.parenthesis" :n="n" :size="25" :padding="25" />
            </svg>
            <figcaption>
              Lattice paths on an {{n}} x {{n}} square, not crossing the diagonal
            </figcaption>
          </figure>
          <figure>
            <div class="catalan-tile catalan-parentheses">{{catalan.votingSequence}}</div>
            <figcaption>
              Voting sequence for two candidates {A,B} where the A never trails, each getting {{n}}
              votes
            </figcaption>
          </figure>
          <div class="catalan-tile catalan-tree">
            <figure>
              <svg-box v-for="bbox of [new BBox(0,0,250,250)]" :bbox="bbox">
                <rooted-tree :tile="catalan.parenthesis" :bbox="bbox"></rooted-tree>
              </svg-box>
              <figcaption>Plane Tree with {{n+1}} nodes</figcaption>
            </figure>
          </div>
          <div class="catalan-tile">
            <figure>
              <svg-box v-for="bbox of [new BBox(0,0,300,300)]" :bbox="bbox">
                <binary-tree :tile="parentheses" :bbox="bbox"></binary-tree>
              </svg-box>
              <figcaption>Binary tree with {{n}} nodes</figcaption>
            </figure>
          </div>
          <div class="catalan-hex">
            <figure>
              <svg-box v-for="bbox of [new BBox(0,0,300,300)]" :bbox="bbox">
                <circle-chords
                  :tile="catalan.hex"
                  :n="n"
                  :bbox="bbox"
                  show-arcs
                  show-chords
                  show-circle
                />
              </svg-box>
              <figcaption>Circle with {{n}} non-intersecting chords</figcaption>
            </figure>
          </div>
          <div class="catalan-tile">
            <figure>
              <svg-box v-for="bbox of [new BBox(0,0,600,300)]" :bbox="bbox">
                <circle-chords
                  :tile="catalan.hex"
                  :n="n"
                  :bbox="bbox"
                  show-midpoints
                  show-partitions
                  show-midpoint-labels
                  :rotate-degrees="10"
                />
              </svg-box>
              <figcaption>Non interesecting partitions of {{n}} elements</figcaption>
            </figure>
          </div>
          <div class="catalan-tile">
            <figure>
              <svg-box v-for="bbox of [new BBox(0,0,300,300)]" :bbox="bbox">
                <polygon-triangulation :tile="catalan.parenthesis" :bbox="bbox" />
              </svg-box>
              <figcaption>Triangulation of {{n+2}}-gon</figcaption>
            </figure>
          </div>
        </div>
      </section>
      <section>
        <h2 id="further-reading">
          <a class="anchor" href="#further-reading"></a>
          <span>Further Reading</span>
        </h2>
        <ul>
          <li>
            <a href="https://en.wikipedia.org/wiki/Richard_P._Stanley">Richard P. Stanley's</a> book
            "Catalan Numbers" (MIT Press, 2015) contains a list of 214 Catalan number
            interpretations
          </li>
          <li>
            A further analysis of Catalan numbers appears in the OEIS
            <a href="https://oeis.org/A000108">A000108</a>.
          </li>
        </ul>
      </section>
    </main>
    <footer>
      <p>No LLMs were consulted in the making of this site.</p>
      <p>© 2026 Jānis Lībeks</p>
    </footer>
    <script type="module">
      const { createApp, ref, defineComponent } = Vue
      import {
        catalanNumber,
        generateIterativeCatalanParentheses,
        generateCatalanParenthesisSet,
        generateCatalanNumberSet,
        generateIterativeCatalanNumerical,
        numericalToPartition,
        getParenthesisPartitions,
        get2DWalkFromParentheses,
        parenthesesToHex,
        CatalanGenus,
        CatalanStructure,
      } from '/js/catalan.js'
      import { collapsibleButton } from '/js/buttons.js'
      import { BBox, svgBox } from '/js/bbox.js'
      import {
        circleChords,
        latticePaths,
        rootedTree,
        binaryTree,
        polygonTriangulation,
      } from '/js/catalan-structures.js'

      createApp({
        methods: {
          catalanNumber,
        },
      }).mount('#catalan-numbers-table')

      createApp({
        methods: {
          generateCatalanParenthesisSet,
        },
      }).mount('#c4-parenthesis-exhaustive')

      createApp({
        data() {
          return {
            i: Math.floor(Math.random() * 16796),
          }
        },
        methods: {
          generateIterativeCatalanParentheses,
        },
        mounted() {
          setInterval(() => {
            this.i++
          }, 500)
        },
        components: {
          circleChords,
        },
      }).mount('#parentheses-10-counter')

      createApp({
        data() {
          return {
            i: Math.floor(Math.random() * 16796),
          }
        },
        methods: {
          generateIterativeCatalanParentheses,
          BBox,
        },
        components: {
          circleChords,
          svgBox,
        },
      }).mount('#circle-10-connection-example')

      createApp({
        methods: {
          generateCatalanNumberSet,
          BBox,
        },
        components: {
          circleChords,
          svgBox,
        },
      }).mount('#c3-chords-exhaustive')

      createApp({
        methods: {
          generateCatalanNumberSet,
          BBox,
        },
        components: {
          circleChords,
          svgBox,
        },
      }).mount('#c4-chords-exhaustive')

      createApp({
        data() {
          return {
            i: Math.floor(Math.random() * 16796),
          }
        },
        methods: {
          generateIterativeCatalanNumerical,
          generateIterativeCatalanParentheses,
          BBox,
        },
        mounted() {
          setInterval(() => {
            this.i++
          }, 500)
        },
        components: {
          circleChords,
          svgBox,
        },
      }).mount('#c10-chords-timer')

      createApp({
        components: {
          latticePaths,
        },
      }).mount('#lattice-10-example')

      createApp({
        data() {
          return {
            i: Math.floor(Math.random() * 16796),
          }
        },
        methods: {
          generateIterativeCatalanNumerical,
          generateIterativeCatalanParentheses,
        },
        mounted() {
          setInterval(() => {
            this.i++
          }, 500)
        },
        components: {
          latticePaths,
        },
      }).mount('#c10-lattice-paths-timer')

      createApp({
        data() {
          return {
            i: Math.floor(Math.random() * 16796),
          }
        },
        methods: {
          generateIterativeCatalanParentheses,
          get2DWalkFromParentheses,
        },
        mounted() {
          setInterval(() => {
            this.i++
          }, 500)
        },
        components: {
          circleChords,
        },
      }).mount('#two-d-walk-10-counter')

      createApp({
        methods: {
          BBox,
        },
        components: {
          rootedTree,
          svgBox,
        },
      }).mount('#rooted-tree-10-example')

      createApp({
        data() {
          return {
            // bbox: new BBox(0, 0, 300, 300),
          }
        },
        methods: {
          generateCatalanParenthesisSet,
          BBox,
        },
        components: {
          rootedTree,
          svgBox,
        },
      }).mount('#c3-plane-trees')

      createApp({
        data() {
          return {
            i: Math.floor(Math.random() * 16796),
          }
        },
        methods: {
          generateIterativeCatalanNumerical,
          generateIterativeCatalanParentheses,
          BBox,
        },
        mounted() {
          setInterval(() => {
            this.i++
          }, 500)
        },
        components: {
          rootedTree,
          svgBox,
        },
      }).mount('#c10-plane-tree-timer')

      createApp({
        data() {
          return {
            // bbox: new BBox(0, 0, 300, 300),
          }
        },
        methods: {
          generateCatalanParenthesisSet,
          BBox,
        },
        components: {
          binaryTree,
          svgBox,
        },
      }).mount('#c3-binary-trees')

      createApp({
        methods: {
          BBox,
        },
        components: {
          binaryTree,
          svgBox,
        },
      }).mount('#binary-tree-10-example')

      createApp({
        data() {
          return {
            i: Math.floor(Math.random() * 16796),
          }
        },
        methods: {
          generateIterativeCatalanNumerical,
          generateIterativeCatalanParentheses,
          BBox,
        },
        mounted() {
          setInterval(() => {
            this.i++
          }, 500)
        },
        components: {
          binaryTree,
          svgBox,
        },
      }).mount('#c10-binary-tree-timer')

      createApp({
        methods: {
          BBox,
        },
        components: {
          polygonTriangulation,
          svgBox,
        },
      }).mount('#polygon-triangulation-10-example')

      createApp({
        data() {
          return {
            i: Math.floor(Math.random() * 16796),
          }
        },
        methods: {
          generateIterativeCatalanNumerical,
          generateIterativeCatalanParentheses,
          BBox,
        },
        mounted() {
          setInterval(() => {
            this.i++
          }, 500)
        },
        components: {
          polygonTriangulation,
          svgBox,
        },
      }).mount('#c10-polygon-triangulation-timer')

      createApp({
        data() {
          return {
            i: Math.floor(Math.random() * 16796),
          }
        },
        methods: {
          generateIterativeCatalanParentheses,
          numericalToPartition,
          BBox,
        },
        components: {
          circleChords,
          svgBox,
        },
      }).mount('#circle-10-connection-partition-example')

      createApp({
        methods: {
          generateCatalanNumberSet,
          BBox,
        },
        components: {
          circleChords,
          svgBox,
        },
      }).mount('#c3-partition-exhaustive')

      createApp({
        methods: {
          generateCatalanNumberSet,
          BBox,
        },
        components: {
          circleChords,
          svgBox,
        },
      }).mount('#c4-partition-exhaustive')

      createApp({
        methods: {
          getParenthesisPartitions,
          BBox,
        },
        components: {
          circleChords,
          collapsibleButton,
          svgBox,
        },
      }).mount('#chord-partitions')

      createApp({
        data() {
          return {
            i: Math.floor(Math.random() * 16796),
          }
        },
        methods: {
          generateIterativeCatalanNumerical,
          generateIterativeCatalanParentheses,
          numericalToPartition,
          BBox,
        },
        mounted() {
          setInterval(() => {
            this.i++
          }, 500)
        },
        components: {
          circleChords,
          svgBox,
        },
      }).mount('#c10-partitions-timer')

      createApp({
        data() {
          return {
            i: Math.floor(Math.random() * 16796),
            n: 10,
          }
        },
        methods: {
          BBox,
        },
        mounted() {
          setInterval(() => {
            this.i++
          }, 500)
        },
        computed: {
          genus() {
            return new CatalanGenus(this.n, this.i)
          },
          catalan() {
            return this.genus.getI(this.i)
          },
          parentheses() {
            return this.catalan.parenthesis
          },
        },
        components: {
          circleChords,
          rootedTree,
          binaryTree,
          circleChords,
          latticePaths,
          polygonTriangulation,
          svgBox,
        },
      }).mount('#catalan-gallery-timer')
    </script>
  </body>
</html>
