<!doctype html>
<html lang="en">
  <head>
    <title>List of Fonts</title>
    <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->
    <script src="/js/vue.js"></script>
    <link href="/style.css" rel="stylesheet" />
    <!-- <link href="triangles.css" rel="stylesheet" /> -->
    <link href="plot-generator.css" rel="stylesheet" />
    <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml" />
    <link rel="icon" href="/favicon.ico" sizes="48x48" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Libertinus+Math&family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <h1>List of Fonts</h1>
      <div class="subhead"><a href="/index.html">Home</a></div>
    </header>
    <main>
      <section>
        <p>Here is a list of available SVG fonts.</p>
      </section>
      <section>
        <div id="font-list">
          <div
            class="button-block"
            style="display: flex; justify-content: center; column-gap: 1em; padding-bottom: 1em"
          >
            <toggle-button v-model="showFill" text="Show fill" update-url="showFill">
            </toggle-button>
            <selector v-model="text" :options="textOptions" update-url="text"> </selector>
            <selector v-model="size" :options="sizeOptions" update-url="size"> </selector>
          </div>
          <div
            v-for="font in fonts"
            :id="font.name"
            :style="{border: '1px solid black', 'border-radius': '10px'}"
          >
            <figure>
              <svg-box v-for="bbox of [new BBox(0,0,1500,300)]" :bbox="bbox">
                <svg-text
                  :text="text.value == '_font_name' ? font.name : text.value"
                  :font="font"
                  :size="size.value"
                  :bbox="bbox"
                  :filled="showFill"
                >
                </svg-text>
              </svg-box>
              <figcaption>
                <a style="text-decoration: none; color: black" :href="'#'+font.name"
                  >{{font.name}}</a
                >
              </figcaption>
            </figure>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <p>No LLMs were consulted in the making of this site.</p>
      <p>© 2026 Jānis Lībeks</p>
    </footer>
    <script type="module">
      const { createApp, ref, defineComponent } = Vue
      import { BBox, svgBox } from '/js/bbox.js'
      import { fonts } from '/js/text/allFonts.js'
      import { svgText } from '/js/text/text.js'
      import { toggleButton, selector } from '/js/buttons.js'

      const fontApp = createApp({
        data() {
          let params = new URLSearchParams(window.location.search)
          const textOptions = [
            {
              value:
                '0123456789!"#$%&\'()*+,-./:;<=>?@[\\]^_{|}~ `"\nABCDEFGHIJKLMNOPQRSTUVWXYZ\nabcdefghijklmnopqrstuvwxyz',
              display: 'ASCII',
            },
            { value: '_font_name', display: 'Font Name' },
            { value: 'ff fi fl ft fj', display: 'Ligatures' },
            {
              value: 'The quick brown fox jumps over the lazy dog.',
              display: 'The quick brown fox',
            },
          ]
          const sizeOptions = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100].map((val) => ({
            value: val,
            display: val.toString(),
          }))
          let ret = {
            text: params.has('text')
              ? textOptions.filter((elt) => elt.display == params.get('text'))[0]
              : textOptions[0],
            showFill: params.has('showFill') ? params.get('showFill') == '1' : false,
            size: params.has('size')
              ? sizeOptions.filter((elt) => elt.display == params.get('size'))[0]
              : sizeOptions[3],

            textOptions,
            sizeOptions,
          }
          console.log('ret', ret, params.get('size'), typeof params.get('size'))
          return ret
        },
        computed: {
          fonts() {
            let urlParams = new URLSearchParams(window.location.search)
            let processedFonts = {}
            for (let key of Object.keys(fonts)) {
              processedFonts[key] = fonts[key]() // "activate" font before using it
            }
            return processedFonts
          },
        },
        methods: {
          BBox,
        },
        components: {
          svgText,
          svgBox,
          toggleButton,
          selector,
        },
      }).mount('#font-list')
    </script>
  </body>
</html>
