<!doctype html>
<html lang="en">
  <head>
    <title>Plot Generator</title>
    <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->
    <script src="/js/vue.js"></script>
    <link href="/style.css" rel="stylesheet" />
    <!-- <link href="triangles.css" rel="stylesheet" /> -->
    <link href="plot-generator.css" rel="stylesheet" />
    <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml" />
    <link rel="icon" href="/favicon.ico" sizes="48x48" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Libertinus+Math&family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <h1>Plot Generator</h1>
      <div class="subhead"><a href="/index.html">Home</a></div>
    </header>
    <main>
      <section>
        <p>This is the applet I intend to use to generate svg files for plots.</p>
      </section>
      <section>
        <div id="plot">
          <div class="selector">
            <select v-model="scene">
              <option v-for="scene of scenes" :value="scene">{{scene.name}}</option>
            </select>
          </div>
          <svg-plot :scene="scene" with-frame with-guides> </svg-plot>
        </div>
      </section>
    </main>
    <footer>
      <p>No LLMs were consulted in the making of this site.</p>
      <p>© 2026 Jānis Lībeks</p>
    </footer>
    <script type="module">
      const { createApp, ref, defineComponent } = Vue
      import { svgPlot } from '/js/plotter/svg-plot.js'
      import { PlaneTree, Tiling, TricolorFillTiling, Empty, scenes } from '/js/plotter/scenes.js'

      const fullTriangleApp = createApp({
        data() {
          return {
            scene: TricolorFillTiling,
            // scene: Empty,
            scenes,
          }
        },
        components: {
          svgPlot,
        },
      }).mount('#plot')
    </script>
  </body>
</html>
