<!doctype html>
<html lang="en">
  <head>
    <title>Semiregular Tilings</title>
    <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->
    <script src="/js/vue.js"></script>
    <link href="/style.css" rel="stylesheet" />
    <link href="triangles.css" rel="stylesheet" />
    <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml" />
    <link rel="icon" href="/favicon.ico" sizes="48x48" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Libertinus+Math&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <h1>Semiregular Tilings</h1>
      <div class="subhead"><a href="/index.html">Home</a></div>
    </header>
    <main>
      <section>
        <h2 id="rectangular-simple-tile">
          <a class="anchor" href="#rectangular-simple-tile"></a>
          <span>N-gons</span>
        </h2>
        <div class="text-figure">
          <p>
            To start, let's make a class that can render any regular n-gon. This will come in handy
            later.
          </p>
          <figure id="ngons" class="float-right small">
            <svg viewBox="0 0 300 300">
              <g class="grid">
                <g
                  v-for="(poly,i) in polygons"
                  :style="toTransform({x: 50 + (i%3)*100, y:50 + 100 * Math.floor(i/3)})"
                >
                  <path class="polygon" :d="poly.d" :style="{fill: poly.color, stroke: 'black'}" />
                </g>
              </g>
            </svg>
            <figcaption>Some regular n-gons with the same side-length</figcaption>
          </figure>
        </div>
      </section>
      <section>
        <h2 id="k-uniform-tilings">
          <a class="anchor" href="#k-uniform-tilings"></a>
          <span>k-Uniform Tilings</span>
        </h2>
        <p>
          Now let's start working on implementing an applet that could render any
          <a
            href="https://en.wikipedia.org/wiki/Euclidean_tilings_by_convex_regular_polygons#Archimedean,_uniform_or_semiregular_tilings"
            >semi-regular tiling</a
          >. The approach is as follows:
        </p>
        <ul>
          <li>Pick a point, this will be the initial vertex.</li>
          <li>Surround that vertex by the polygons contained in the pattern</li>
          <li>
            For each new vertex, consider whether there is only one way to fill in the remaining
            gaps with polygons such that the pattern would be preserved. If so, add such polygons,
            which will inevitably produce new vertices.
          </li>
          <li>Rinse and repeat until the viewport is filled</li>
        </ul>
        <p>
          There are some complications to consider. For some tilings, such as the '4.6.12', you also
          need to consider the mirrored version of the tiling, i.e. '6.4.12', otherwise the process
          will stop very early. For other tilings, such as the '3.3.3.3.6' tiling, there is an
          inherent ambiguity that requires a choice to be made.
        </p>
        <p>
          In fact, if we want to extend this to k-vertex tilings, we will very quickly run into
          ambiguous cases.
        </p>

        <figure id="grid1" class="full-width">
          <svg viewBox="0 0 1000 500">
            <grid-tiling
              :bbox="bbox"
              :start="start"
              :size="30"
              :pattern="tiling"
              :iterations="-1"
              :debug-face-number="showFaceNumbers"
              debug-vertex-genus
              :debug-vertex-number="showVertexNumbers"
              :debug-show-bbox="showBBox"
              :show-vertices="showVertices"
              show-forced-choices
              show-forced-vertices
              :show-faces="showFaces"
            ></grid-tiling>
          </svg>
          <figcaption>
            <select v-model="tiling">
              <option disabled value="">Pick a tiling</option>
              <option disabled value="">Regular</option>
              <option v-for="tile in regularTilings" :value="tile">{{tile.string()}}</option>
              <option disabled value="">Semi-Regular</option>
              <option v-for="tile in semiregularTilings" :value="tile">{{tile.string()}}</option>
              <option disabled value="">2-uniform</option>
              <option v-for="tile in uniform2Tilings" :value="tile">{{tile.string()}}</option>
              <option disabled value="">3-uniform</option>
              <option v-for="tile in uniform3Tilings" :value="tile">{{tile.string()}}</option>
            </select>

            <div class="button-block">
              <toggle-button
                :active="showVertexNumbers"
                @toggle-choice="showVertexNumbers = !showVertexNumbers"
                text="Show vertex numbers"
              ></toggle-button>
            </div>
            <div class="button-block">
              <toggle-button
                :active="showBBox"
                @toggle-choice="showBBox = !showBBox"
                text="Show bbox"
              ></toggle-button>
            </div>
            <div class="button-block">
              <toggle-button
                :active="showVertices"
                @toggle-choice="showVertices = !showVertices"
                text="Show vertices"
              ></toggle-button>
            </div>
            <div class="button-block">
              <toggle-button
                :active="showFaceNumbers"
                @toggle-choice="showFaceNumbers = !showFaceNumbers"
                text="Show face numbers"
              ></toggle-button>
            </div>
            <div class="button-block">
              <toggle-button
                :active="showFaces"
                @toggle-choice="showFaces = !showFaces"
                text="Show faces"
              ></toggle-button>
            </div>
            <!-- <input type="checkbox" v-model.boolean="showVertexNumbers" /> -->
          </figcaption>
        </figure>
      </section>
      <section>
        <h2 id="tiling-gallery">
          <a class="anchor" href="#tiling-gallery"></a>
          <span>Gallery of tilings</span>
        </h2>
        <figure id="gallery" class="full-width">
          <div class="flex-container" style="display: flex; gap: 2em; flex-wrap: wrap">
            <div v-for="tiling in tilings" style="width: 30%">
              <p>{{tiling.string()}}</p>
              <svg viewBox="0 0 300 300">
                <grid-tiling
                  :bbox="bbox"
                  :start="start"
                  :size="20"
                  :pattern="tiling"
                  :iterations="-1"
                  debug-vertex-genus
                  show-vertices
                  show-forced-choices
                  show-forced-vertices
                  show-faces
                ></grid-tiling>
              </svg>
            </div>
          </div>
        </figure>
      </section>
      <section>
        <h2 id="truchet-on-k-uniform-tilings">
          <a class="anchor" href="#truchet-on-k-uniform-tilings"></a>
          <span>Truchet Tiles on k-uniform Tilings</span>
        </h2>
        <div class="text-figure">
          <p>
            The idea now is as follows. Since I'm working with n-gons, and since I've already worked
            on <a href="/articles/triangle-truchet.html">Triangular</a> and
            <a href="/articles/square-truchet.html">Square Truchet Tiles</a>, it should be possible
            to expand Truchet Tiling to any n-gons, and apply it to any k-uniform tiling from above.
          </p>
          <figure id="triangle-control-points" class="float-right small">
            <svg viewBox="0 0 150 120">
              <g class="grid triangle">
                <g class="ngon">
                  <path
                    class="stroke grey"
                    :d="triangle.d"
                    :style="{'stroke-width': 1, stroke: 'hsl(0, 0%, 70%)'}"
                  />
                  <circle
                    v-for="pt in tile.midpoints"
                    class="stroke medium"
                    v-bind="pt.cxcyProps()"
                    r="2"
                  />
                  <circle
                    v-for="pt in tile.notches"
                    class="stroke medium"
                    v-bind="pt.cxcyProps()"
                    r="1"
                  />
                  <circle
                    v-for="pt in Object.values(tile.stars)"
                    class="stroke medium"
                    :style="{stroke: 'red'}"
                    v-bind="pt.cxcyProps()"
                    r="1"
                  />
                </g>
              </g>
            </svg>
            <figcaption>
              Triangle control points
              <input
                class="slider"
                type="range"
                name="notch"
                min="0.05"
                max="0.95"
                step="0.01"
                v-model.number="notch1"
              />
              <input
                class="slider"
                type="range"
                name="notch"
                min="0.05"
                max="0.95"
                step="0.01"
                v-model.number="notch2"
              />
            </figcaption>
          </figure>
        </div>

        <figure id="grid-truchet" class="full-width">
          <svg viewBox="0 0 1000 500">
            <grid-tiling
              :bbox="bbox"
              :start="start"
              :size="30"
              :pattern="tiling"
              :iterations="-1"
              :debug-face-number="showFaceNumbers"
              debug-vertex-genus
              :debug-vertex-number="showVertexNumbers"
              :debug-show-bbox="showBBox"
              :show-vertices="showVertices"
              show-forced-choices
              show-forced-vertices
              :show-faces="showFaces"
            ></grid-tiling>
          </svg>
          <figcaption>
            <select v-model="tiling">
              <option disabled value="">Pick a tiling</option>
              <option disabled value="">Regular</option>
              <option v-for="tile in regularTilings" :value="tile">{{tile.string()}}</option>
              <option disabled value="">Semi-Regular</option>
              <option v-for="tile in semiregularTilings" :value="tile">{{tile.string()}}</option>
              <option disabled value="">2-uniform</option>
              <option v-for="tile in uniform2Tilings" :value="tile">{{tile.string()}}</option>
              <option disabled value="">3-uniform</option>
              <option v-for="tile in uniform3Tilings" :value="tile">{{tile.string()}}</option>
            </select>

            <div class="button-block">
              <toggle-button
                :active="showVertexNumbers"
                @toggle-choice="showVertexNumbers = !showVertexNumbers"
                text="Show vertex numbers"
              ></toggle-button>
            </div>
            <div class="button-block">
              <toggle-button
                :active="showBBox"
                @toggle-choice="showBBox = !showBBox"
                text="Show bbox"
              ></toggle-button>
            </div>
            <div class="button-block">
              <toggle-button
                :active="showVertices"
                @toggle-choice="showVertices = !showVertices"
                text="Show vertices"
              ></toggle-button>
            </div>
            <div class="button-block">
              <toggle-button
                :active="showFaceNumbers"
                @toggle-choice="showFaceNumbers = !showFaceNumbers"
                text="Show face numbers"
              ></toggle-button>
            </div>
            <div class="button-block">
              <toggle-button
                :active="showFaces"
                @toggle-choice="showFaces = !showFaces"
                text="Show faces"
              ></toggle-button>
            </div>
            <!-- <input type="checkbox" v-model.boolean="showVertexNumbers" /> -->
          </figcaption>
        </figure>
      </section>
      <section>
        <h2 id="further-ideas">
          <a class="anchor" href="#further-ideas"></a>
          <span>Further ideas to explore</span>
        </h2>
        <ul>
          <li>Display the aperiodic Penrole Tiling</li>
        </ul>
      </section>
    </main>
    <footer>
      <p>No LLMs were consulted in the making of this site.</p>
      <p>© 2026 Jānis Lībeks</p>
    </footer>

    <script type="module">
      const { createApp, ref, defineComponent } = Vue
      import {
        NGon,
        VertexGrid,
        TilingPattern,
        regularTilings,
        semiregularTilings,
        uniform2Tilings,
        uniform3Tilings,
        gridTiling,
        // displayKTiling,
      } from '/js/grid.js'
      import { toTransform } from '/js/svg-utils.js'
      import { BBox } from '/js/bbox.js'
      import { Point2DOrigin, Point } from '/js/geometry.js'
      import { degToRad } from '/js/math.js'
      import { playControls, radioButtons, toggleButton } from '/js/buttons.js'
      import { GenericTriangleTruchet } from '/js/regular-truchet.js'

      createApp({
        data() {
          return {
            polygons: ['3', '4', '5', '6', '7', '8', '10', '12', '15'].map(
              (tile) => new NGon({ tile, side: 20, angleFraction: 0.5 }),
            ),
          }
        },
        methods: {
          toTransform,
        },
      }).mount('#ngons')

      createApp({
        data() {
          return {
            tiling: uniform3Tilings[2],
            debugVertices: false,
            debugFaces: false,
            debugVertexGenus: true,
            regularTilings,
            semiregularTilings,
            uniform2Tilings,
            uniform3Tilings,
            showVertexNumbers: false,
            showFaceNumbers: false,
            showBBox: false,
            start: new Point(500, 250),
            bbox: new BBox(-200, -100, 1200, 600),
            // bbox: new BBox(100, 100, 900, 400),
            // bbox: new BBox(100, 100, 1900, 900),
            showVertices: true,
            showFaces: true,
          }
        },
        methods: {
          toTransform,
          BBox,
          Point,
          // displayKTiling,
        },
        components: { gridTiling, toggleButton },
      }).mount('#grid1')

      createApp({
        data() {
          return {
            triangle: new NGon({ tile: '3', side: 100, center: new Point(75, 50) }),
            notch1: 0.33,
            notch2: 0.66,
          }
        },
        computed: {
          tile() {
            return new GenericTriangleTruchet(this.triangle.vertices, false, [
              this.notch1,
              this.notch2,
            ]).getPoints()
          },
        },
        // components: { gridTiling, toggleButton },
      }).mount('#triangle-control-points')

      // createApp({
      //   data() {
      //     return {
      //       tiling: new TilingPattern(['3.3.3.3.3.3']),
      //       debugVertices: false,
      //       debugFaces: false,
      //       debugVertexGenus: true,
      //       regularTilings,
      //       semiregularTilings,
      //       uniform2Tilings,
      //       uniform3Tilings,
      //       showVertexNumbers: false,
      //       showFaceNumbers: false,
      //       showBBox: false,
      //       start: new Point(500, 250),
      //       bbox: new BBox(-200, -100, 1200, 600),
      //       // bbox: new BBox(200, 100, 800, 400),
      //       showVertices: true,
      //       showFaces: true,
      //     }
      //   },
      //   methods: {
      //     toTransform,
      //     BBox,
      //     Point,
      //     // displayKTiling,
      //   },
      //   components: { gridTiling, toggleButton },
      // }).mount('#grid-truchet')

      createApp({
        data() {
          return {
            tilings: [
              ...regularTilings,
              ...semiregularTilings,
              ...uniform2Tilings,
              ...uniform3Tilings,
            ],
            start: new Point(150, 150),
            bbox: new BBox(-100, -100, 400, 400),
          }
        },
        methods: {
          toTransform,
          BBox,
          Point,
          // displayKTiling,
        },
        components: { gridTiling, toggleButton },
      }).mount('#gallery')
    </script>
  </body>
</html>
