<!doctype html>
<html lang="en">
  <head>
    <title>Semiregular Tilings</title>
    <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->
    <script src="/js/vue.js"></script>
    <link href="/style.css" rel="stylesheet" />
    <link href="triangles.css" rel="stylesheet" />
    <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml" />
    <link rel="icon" href="/favicon.ico" sizes="48x48" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Libertinus+Math&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <h1>Semiregular Tilings</h1>
      <div class="subhead"><a href="/index.html">Home</a></div>
    </header>
    <main>
      <section>
        <h2 id="rectangular-simple-tile">
          <a class="anchor" href="#rectangular-simple-tile"></a>
          <span>N-gons</span>
        </h2>
        <div class="text-figure">
          <p>
            To start, let's make a class that can render any regular n-gon. Luckily, the plane can
            only be tiled with triangles, squares, hexagons, octagons (8 sides), and dodecagons (12
            sides).
          </p>
          <figure id="ngons" class="float-right small">
            <svg viewBox="0 0 300 230">
              <g class="grid">
                <g
                  v-for="(poly,i) in polygons"
                  :style="toTransform({x: 50 + (i%3)*100, y:50 + 100 * Math.floor(i/3)})"
                >
                  <path class="polygon" :d="poly.d" :style="{fill: poly.color, stroke: 'black'}" />
                </g>
              </g>
            </svg>
            <figcaption>Some regular n-gons with the same side-length</figcaption>
          </figure>
        </div>
      </section>
      <section>
        <h2 id="k-uniform-tilings">
          <a class="anchor" href="#k-uniform-tilings"></a>
          <span>k-Uniform Tilings</span>
        </h2>
        <p>
          Now let's start working on implementing an applet that could render any
          <a
            href="https://en.wikipedia.org/wiki/Euclidean_tilings_by_convex_regular_polygons#Archimedean,_uniform_or_semiregular_tilings"
            >semi-regular tiling</a
          >. First, some notation. Each tiling is represented with its vertex notation. The idea is
          simple, for each type (or genus) of vertex, I list the n-gons that appear around this
          vertex. So '3.4.6.4' means that that genus of vertex has a triangle, a square, a hexagon,
          and a square, in that order. Further on in the list, there are cases where the same n-gon
          can appear in multiple circumstances, in which case I use letter suffixes to differentiate
          between them. Each 'genus' is defined uniquely by its vertex genus sequence. So
          '3a.3a.3b.3a.6' means that there are two types of triangles, '3a' and '3b', and they must
          appear in this order.
        </p>
        <ul>
          <li>Pick a point, this will be the initial vertex.</li>
          <li>
            Surround that vertex by the polygons contained in the pattern for that vertex. Usually
            this is the first pattern in the vertex notation, but in certain cases the algorithm
            works better if I choose the second or third pattern.
          </li>
          <li>Now iterate like so:</li>
          <ul>
            <li>
              For each incomplete vertex, iterate over its possible vertex patterns and validate
              that the pattern still applies. If only one possibility remains, populate the vertex
              with the missing n-gons.
            </li>
            <li>
              (If face hints are provided) For each incomplete face, iterate over its face hints to
              see if there is only one choice remaining for its incomplete vertices. If so, force
              those vertices to accept their only valid pattern.
            </li>
            <li>
              (If face edge hints are provided) For each incomplete face, interate over its edges
              and see if a choice can be forced on it.
            </li>
            <li>
              Rinse and repeat until the viewport is filled or no other additional polygons can be
              added.
            </li>
          </ul>
        </ul>
        <p>
          This algorithm required a lot of tinkering. I started with only the vertex definitions and
          only clockwise order for n-gons on a vertex. This ran into issues with the '4.6.12'
          tiling, which also requires the mirrored pattern to fill the viewport. Eventually I ran
          into issues where the vertex directions were not sufficient, so I added the face hints.
          This required further tinkering and debugging. Finally, the ['3.4.4.6', '3.6.3.6'] pattern
          could not be completed even with both vertex and face hints, so I had to add the face edge
          hints.
        </p>
        <p>
          For the '3.3.3.3.6' tiling, there is an inherent ambiguity that requires a choice to be
          made. I have listed the two chiral versions of this tiling, '3a.3a.3b.3a.6' and
          '3a.3b.3a.3a.6'.
        </p>
        <p>
          I also have the option to display the
          <a href="https://en.wikipedia.org/wiki/Dual_polyhedron">dual graph</a> of the tiling,
          where each face is represented by a vertex, and each vertex instead becomes a face.
          Curiously, the dual graphs of the Regular and Semiregular tilings consist entirely of
          <a href="https://en.wikipedia.org/wiki/Planigon">planigons</a>.
        </p>

        <figure id="grid1" class="full-width">
          <svg viewBox="0 0 1000 500">
            <grid-tiling
              :bbox="bbox"
              :start="start"
              :size="30"
              :pattern="tiling"
              :iterations="-1"
              :debug-face-number="showFaceNumbers"
              debug-vertex-genus
              :debug-vertex-number="showVertexNumbers"
              :debug-show-bbox="showBBox"
              :show-vertices="showVertices"
              show-forced-choices
              show-forced-vertices
              :show-faces="showFaces"
              :show-face-colors="showFaceColors"
              :show-dual="showDual"
            ></grid-tiling>
          </svg>
          <figcaption>
            <select v-model="tiling">
              <option disabled value="">Pick a tiling</option>
              <template v-for="(list, key) of tilingClasses">
                <option disabled value="">{{key}}</option>
                <option v-for="tile in list" :value="tile">{{tile.string()}}</option>
              </template>
            </select>

            <div class="button-block">
              <toggle-button
                :active="showBBox"
                @toggle-choice="showBBox = !showBBox"
                text="Show bbox"
              ></toggle-button>
            </div>
            <div class="button-block">
              <toggle-button
                :active="showVertices"
                @toggle-choice="showVertices = !showVertices"
                text="Show vertices"
              ></toggle-button>
            </div>
            <div class="button-block">
              <toggle-button
                :active="showVertexNumbers"
                @toggle-choice="showVertexNumbers = !showVertexNumbers"
                text="Show vertex numbers"
              ></toggle-button>
            </div>

            <div class="button-block">
              <toggle-button
                :active="showFaces"
                @toggle-choice="showFaces = !showFaces"
                text="Show faces"
              ></toggle-button>
            </div>
            <div class="button-block">
              <toggle-button
                :active="showFaceColors"
                @toggle-choice="showFaceColors = !showFaceColors"
                text="Show face colors"
              ></toggle-button>
            </div>
            <div class="button-block">
              <toggle-button
                :active="showFaceNumbers"
                @toggle-choice="showFaceNumbers = !showFaceNumbers"
                text="Show face numbers"
              ></toggle-button>
            </div>
            <div class="button-block">
              <toggle-button
                :active="showDual"
                @toggle-choice="showDual = !showDual"
                text="Show dual"
              ></toggle-button>
            </div>
          </figcaption>
        </figure>
      </section>
      <section>
        <h2 id="tiling-gallery">
          <a class="anchor" href="#tiling-gallery"></a>
          <span>Gallery of tilings</span>
        </h2>
        <p>
          Below is a list of all available tilings, displayed in one place. Note that this takes a
          while to render, and takes up significant memory.
        </p>
        <figure id="gallery" class="full-width">
          <div v-for="(tilings, key) of tilingClasses">
            <div>
              <h3 :id="`${key}_list`">
                <a class="anchor" :href="`#${key}_list`"></a>
                <span>{{key}}</span>
              </h3>
            </div>
            <div class="flex-container" style="display: flex; gap: 2em; flex-wrap: wrap">
              <div v-for="tiling in tilings" style="width: 30%">
                <p>{{tiling.string()}}</p>
                <svg viewBox="0 0 300 300">
                  <grid-tiling
                    :bbox="bbox"
                    :start="start"
                    :size="20"
                    :pattern="tiling"
                    :iterations="-1"
                    debug-vertex-genus
                    show-vertices
                    show-forced-choices
                    show-forced-vertices
                    show-faces
                    show-face-colors
                  ></grid-tiling>
                </svg>
              </div>
            </div>
          </div>
        </figure>
      </section>
      <section>
        <h2 id="further-ideas">
          <a class="anchor" href="#further-ideas"></a>
          <span>Further ideas to explore</span>
        </h2>
        <ul>
          <li>Display the aperiodic Penrole Tiling</li>
        </ul>
      </section>
    </main>
    <footer>
      <p>No LLMs were consulted in the making of this site.</p>
      <p>© 2026 Jānis Lībeks</p>
    </footer>

    <script type="module">
      const { createApp, ref, defineComponent } = Vue
      import {
        NGon,
        VertexGrid,
        TilingPattern,
        regularTilings,
        semiregularTilings,
        uniform2Tilings,
        uniform3Tilings,
        uniform4Tilings,
        gridTiling,
        // displayKTiling,
      } from '/js/grid.js'
      import { toTransform } from '/js/svg-utils.js'
      import { BBox } from '/js/bbox.js'
      import { Point2DOrigin, Point } from '/js/geometry.js'
      import { degToRad } from '/js/math.js'
      import { playControls, radioButtons, toggleButton } from '/js/buttons.js'
      import { GenericTriangleTruchetTile } from '/js/regular-truchet.js'

      createApp({
        data() {
          return {
            polygons: ['3', '4', '6', '8', '12'].map(
              (tile) => new NGon({ tile, side: 20, angleFraction: 0.5 }),
            ),
          }
        },
        methods: {
          toTransform,
        },
      }).mount('#ngons')

      createApp({
        data() {
          return {
            tiling: uniform4Tilings[7],
            debugVertices: false,
            debugFaces: false,
            debugVertexGenus: true,
            regularTilings,
            semiregularTilings,
            uniform2Tilings,
            uniform3Tilings,
            uniform4Tilings,
            showVertexNumbers: false,
            showFaceNumbers: false,
            showBBox: false,
            start: new Point(500, 250),
            bbox: new BBox(-200, -100, 1200, 600),
            // bbox: new BBox(100, 100, 900, 400),
            // bbox: new BBox(100, 100, 1900, 900),
            showVertices: true,
            showFaceColors: true,
            showFaces: true,
            showDual: false,
            tilingClasses: {
              Regular: regularTilings,
              Semiregular: semiregularTilings,
              '2-uniform': uniform2Tilings,
              '3-uniform': uniform3Tilings,
              '4-uniform': uniform4Tilings,
            },
          }
        },
        methods: {
          toTransform,
          BBox,
          Point,
        },
        components: { gridTiling, toggleButton },
      }).mount('#grid1')

      createApp({
        data() {
          return {
            tilingClasses: {
              Regular: regularTilings,
              Semiregular: semiregularTilings,
              '2-uniform': uniform2Tilings,
              '3-uniform': uniform3Tilings,
              '4-uniform': uniform4Tilings,
            },
            start: new Point(150, 150),
            bbox: new BBox(-100, -100, 400, 400),
          }
        },
        methods: {
          toTransform,
          BBox,
          Point,
          // displayKTiling,
        },
        components: { gridTiling, toggleButton },
      }).mount('#gallery')
    </script>
  </body>
</html>
