<!doctype html>
<html lang="en">
  <head>
    <title>Semiregular Truchet Grids</title>
    <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->
    <script src="/js/vue.js"></script>
    <link href="/style.css" rel="stylesheet" />
    <link href="triangles.css" rel="stylesheet" />
    <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml" />
    <link rel="icon" href="/favicon.ico" sizes="48x48" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Libertinus+Math&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <h1>Semiregular Truchet Grids</h1>
      <div class="subhead"><a href="/index.html">Home</a></div>
    </header>
    <main>
      <section>
        This is a follow-up to <a href="/articles/semiregular-grids.html">semiregular grids</a>.
        Next, I want to apply Truchet-like tiles to this regular tiling. Just as before, I am
        specifically interested in non-intersecting curves, so the article on
        <a href="/articles/catalan.html">Catalan structures</a> is very relevant here.
      </section>
      <section>
        <h2 id="truchet-tiles">
          <a class="anchor" href="#truchet-tiles"></a>
          <span>Truchet Tiles on n-gons</span>
        </h2>
        <p>
          First, I need to come up with generic ways to generate Truchet tiles for 3-, 4-, 6-, 8-,
          and 12-gons, since these are all the regular ngons used in planar tilings.
        </p>
        <section>
          <h3 id="triangles">
            <a class="anchor" href="#triangles"></a>
            <span>Triangles (3-gons)</span>
          </h3>

          <div class="text-figure">
            <p>
              I've previously covered this in the
              <a href="/articles/triangle-truchet.html">triangular truchet grid article</a>.
            </p>
            <figure id="triangle-control-points" class="float-right small">
              <svg viewBox="0 0 150 120">
                <g class="grid triangle">
                  <g class="ngon">
                    <path
                      class="stroke grey"
                      :d="triangle.d"
                      :style="{'stroke-width': 1, stroke: 'hsl(0, 0%, 70%)'}"
                    />
                    <circle
                      v-for="pt in tile.midpoints"
                      class="stroke medium"
                      v-bind="pt.cxcyProps()"
                      r="2"
                    />
                    <circle
                      v-for="pt in tile.notches"
                      class="stroke medium"
                      v-bind="pt.cxcyProps()"
                      r="1"
                    />
                    <circle
                      v-for="pt in Object.values(tile.stars)"
                      class="stroke medium"
                      :style="{stroke: 'red'}"
                      v-bind="pt.cxcyProps()"
                      r="1"
                    />
                  </g>
                </g>
              </svg>
              <figcaption>
                Triangle control points
                <input
                  class="slider"
                  type="range"
                  name="notch"
                  min="0.05"
                  max="0.95"
                  step="0.01"
                  v-model.number="notch1"
                />
                <input
                  class="slider"
                  type="range"
                  name="notch"
                  min="0.05"
                  max="0.95"
                  step="0.01"
                  v-model.number="notch2"
                />
              </figcaption>
            </figure>
          </div>
        </section>
        <section>
          <h3 id="triangles">
            <a class="anchor" href="#triangles"></a>
            <span>Dodecagons (12-gons)</span>
          </h3>

          <div class="text-figure">
            <p>
              I've previously covered this in the
              <a href="/articles/triangle-truchet.html">triangular truchet grid article</a>.
            </p>
            <figure id="triangle-control-points" class="float-right small">
              <svg viewBox="0 0 150 120">
                <g class="grid triangle">
                  <g class="ngon">
                    <path
                      class="stroke grey"
                      :d="triangle.d"
                      :style="{'stroke-width': 1, stroke: 'hsl(0, 0%, 70%)'}"
                    />
                    <circle
                      v-for="pt in tile.midpoints"
                      class="stroke medium"
                      v-bind="pt.cxcyProps()"
                      r="2"
                    />
                    <circle
                      v-for="pt in tile.notches"
                      class="stroke medium"
                      v-bind="pt.cxcyProps()"
                      r="1"
                    />
                    <circle
                      v-for="pt in Object.values(tile.stars)"
                      class="stroke medium"
                      :style="{stroke: 'red'}"
                      v-bind="pt.cxcyProps()"
                      r="1"
                    />
                  </g>
                </g>
              </svg>
              <figcaption>
                Triangle control points
                <input
                  class="slider"
                  type="range"
                  name="notch"
                  min="0.05"
                  max="0.95"
                  step="0.01"
                  v-model.number="notch1"
                />
                <input
                  class="slider"
                  type="range"
                  name="notch"
                  min="0.05"
                  max="0.95"
                  step="0.01"
                  v-model.number="notch2"
                />
              </figcaption>
            </figure>
          </div>
        </section>
      </section>
      <section>
        <h2 id="further-ideas">
          <a class="anchor" href="#further-ideas"></a>
          <span>Further ideas to explore</span>
        </h2>
        <ul></ul>
      </section>
    </main>
    <footer>
      <p>No LLMs were consulted in the making of this site.</p>
      <p>© 2026 Jānis Lībeks</p>
    </footer>

    <script type="module">
      const { createApp, ref, defineComponent } = Vue
      import {
        NGon,
        VertexGrid,
        TilingPattern,
        regularTilings,
        semiregularTilings,
        uniform2Tilings,
        uniform3Tilings,
        uniform4Tilings,
        gridTiling,
        // displayKTiling,
      } from '/js/grid.js'
      import { toTransform } from '/js/svg-utils.js'
      import { BBox } from '/js/bbox.js'
      import { Point2DOrigin, Point } from '/js/geometry.js'
      import { degToRad } from '/js/math.js'
      import { playControls, radioButtons, toggleButton } from '/js/buttons.js'
      import { GenericTriangleTruchet } from '/js/regular-truchet.js'

      createApp({
        data() {
          return {
            triangle: new NGon({ tile: '3', side: 100, center: new Point(75, 50) }),
            notch1: 0.33,
            notch2: 0.66,
          }
        },
        computed: {
          tile() {
            return new GenericTriangleTruchet(this.triangle.vertices, false, [
              this.notch1,
              this.notch2,
            ]).getPoints()
          },
        },
      }).mount('#triangle-control-points')
    </script>
  </body>
</html>
